.product_addToCart {
    margin-left: 16px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(19, 111, 99);
    border: 1px solid rgba(80, 80, 80, 0.516);
    position: relative;
    cursor: pointer;
  }

  
