

$bg: #313841; $red: #F34541; $black: rgb(19, 111, 99); $green: #38B87C; $blue: #2492FF;


.BotonCarrito_fancy {
	border: 3px solid $bg;
	border-radius: 5px;
	display: flex;
	cursor: pointer;
	border: 0;
	background: transparent;
	outline: 0;
	overflow: hidden;
	.icon {
		img{
			position: relative;
			width: 44px;
			height: 44px;
			z-index: 2;
		}
		position: relative;
		background: $black;
		line-height: 30px;
		width: 45px;
		height: 45px;
		text-align: center;
		color: #fff;
		font-size: 18px;
		transition: .2s color;
		border-radius: 2px;
		.fa {
			width: 45px;
			transition: .2s all;
			filter: invert(100%) sepia(1%) saturate(7455%) hue-rotate(111deg) brightness(107%) contrast(103%);
		}
		
		.fa-question { filter: invert(60%) sepia(13%) saturate(1752%) hue-rotate(100deg) brightness(98%) contrast(92%);}
		&:after {
			content: ' ';
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			transform: rotate(45deg);
			background: $black;
			top: 21.5px;
			right: 1px;
			transition: .2s right;
			z-index: 1;
		}
	}
	.text {
		position: relative;
		width: 0;
		height: 45px;
		overflow: hidden;
		font-family: "Roboto", sans-serif;
		background: rgb(18, 148, 131);
		text-align: center;
		line-height: 30px;
		color: #fff;
		font-weight: 300;
		transition: .2s all;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		span {
			width: 100%;
			opacity: 0;
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translateX(-50%);
			transition: .3s all;
		}
		width: 120px;
			span { opacity: 1; top: 9px; }
	}
	
	&.confirm {
		.icon {
			border-radius: 0;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			.fa { transform: translateY(-52px); }
			&:after { right: -2px }
		}
		.text {
			background: $green;
			width: 120px;
			span { opacity: 1; top: 9px; }
		}
	}

}

@keyframes fadeInZoom {
	0% { opacity: 0; transform: scale(.7); }
	100% { opacity: 1; transform: scale(1); }
}