.Card_el_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    a{
        background-color: white;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        .card_Container{
            position: relative;
            width: 80vw;
            max-width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center ;
            .img_container{
                display: flex;
                align-items: center;
                justify-content: center ;
                aspect-ratio: 1/1;
                min-width: 50%;
                max-width: 70%;
                max-height: 70%;
                img{
                    min-width: 70%;
                    max-width: 90%;
                    max-height: 90%;
                }
            }
            p{
                text-align: center;
            }
            .card__precio{
                position: absolute;
                bottom: 2px;
                right: 5px;
            }
        }
    }
}